.body_fiche {
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;

    background-color: #f0f0f0;
}

.header_fiche{
    background-color: rgb(130,106,251); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child-info{
    padding-right: 1em;
}

#travauxNonRealises{
    font-size: 5em;
}

.label-fiche7{
    margin-left: 100px;
    display: flex;
    width: 90%;
}

.label-fiche7 text{
    padding: 1em;
}

#Nécessite_un_nouvelle_intervention{
    width: 100px;
    height: 100px;
}

.text-fiche7{
    display: flex;
    justify-content: center;
}
