
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

/* Importez Cormorant */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');

.body_postcoeleve {
  font-family: 'Cormorant', sans-serif;
  background-color: #f4f8ff;
  color: #333;
  margin: 0; 
  padding: 0; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_text_postcoeleve{
  color : white;
  font-size: 150px;
}
.main-header {
  background-color: rgb(130,106,251); 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suivi-eleve {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.suivi-eleve img {
  display: flex;
  justify-content: center;
}

.h1-pagepostco {
  font-family: 'Cinzel', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 60px;
  
}

.bubbles-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.suivi_eleve img{
  display: flex;
  width: 50%;
}

.square2,
.square3 {
  flex: 1; /* Utilise tout l'espace disponible dans le conteneur parent */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.square2 img,
.square3 img {
  max-width: 100%; /* Ajuste la taille maximale de l'image à 100% de la largeur du parent */
  max-height: 100%; /* Ajuste la taille maximale de l'image à 100% de la hauteur du parent */
  display: block;
  margin: 0 auto;
}

.bouton-anciennes-fiches,
.bouton-fiche-actuelle {
  font-family: 'Cormorant', sans-serif;
  margin-top: 10px;
  width: 100%;
  font-size: 45px;
  background-color: rgb(130,106,251);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bubble:hover {
  border: 2px solid rgb(130,106,251);
}

.bouton-deconnexion-container {
  display: flex;
  justify-content: center;
}


.bouton-deconnexion {
  display: flex;
  background-color: #e74c3c;
  color: #fff;
  padding: 15px 40px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  font-size: 45px;
  margin-bottom: 1em;
  text-decoration: none;
}

.bouton-deconnexion:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .container {
      padding: 10px;
  }
}
