@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

/* Importez Cormorant */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');
.header_page_postco_superadmin{
    background-color: rgb(130,106,251); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child-info{
    font-family: 'Cinzel', 'sans-serif';
    font-size: 25px;
    padding-right: 1em;
}

.body_page_postco_superadmin{
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

.colonne_creation{
    font-family: 'Cormorant', sans-serif;
    font-size: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container_1_page_postco_admin{
    font-family: 'Cinzel', 'sans-serif';
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.container_2{

    font-family: 'Cormorant', sans-serif;
    display: flex;
    font-size: 80px;
    justify-content: center;
    margin-top: 5rem;
}
.btnaction, .btnliste{
    display: flex;
    justify-content: center;
}

.btnaction option, .btnliste option{
    font-family: 'Cormorant', sans-serif;
    font-size: 20px;
}

.actions, .liste{
    cursor: pointer;
    margin-top: 2rem;
    font-family: 'Cormorant', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 5em;
    margin: 30px;
}

.container_1-1{
    display: inline;

}

.container_4{
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    font-size: 110px;
}

.btnGO{
    font-family: 'Cormorant', sans-serif;
    font-size: 65px;
    cursor: pointer;
}

.colonne_liste{
    display: flex;
    justify-content: center; 
    

}

#btnDeconnexion{
    font-family: 'Cormorant', sans-serif;
    font-size: 70px;
    margin-top: 10rem;
    background-color: lightcoral;
    cursor: pointer;
}

#btnredirection{
    font-family: 'Cormorant', sans-serif;
    font-size: 70px;
    margin-top: 10rem;
    background-color: lightblue;
    cursor: pointer;
}

:root {
	--background-color: #eeeeee;
	--text-color: #1a1a1a;
}

:root {
	--background-color: #282828;
	--text-color: #d5d5d5;
}