.body_suivi_eleve_educateur{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Cormorant', sans-serif;
    background-color: #f0f0f0;
}