body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.colonne_creation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.h2_pagepostco_superadmin {
  color: #333;
}

.bouton_creation {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.bouton_creation:hover {
  background-color: #27ae60;
}

select, button {
  margin: 10px 0;
  padding: 8px;
}

.colonne_liste {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

#btnDeconnexion {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#btnDeconnexion:hover {
  background-color: #c0392b;
}

footer {
  background-color: #34495e;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.container_1 {
  text-align: center;
  background-color: lightblue; /* Couleur bleue */
  padding: 15px; /* Espacement interne */
  border-radius: 8px; /* Coins arrondis */
  margin: 20px 0; /* Marge autour de la boîte */
  box-sizing: border-box; /* Inclure la bordure et le rembourrage dans la largeur/hauteur totale */
}

.container_2 {
  text-align: center;
  background-color: lightblue; /* Couleur bleue */
  padding: 40px; /* Espacement interne */
  border-radius: 8px; /* Coins arrondis */
  margin: 20px 0; /* Marge autour de la boîte */
  box-sizing: border-box; /* Inclure la bordure et le rembourrage dans la largeur/hauteur totale */
}
