/* Style de base pour la table */
.w3-table-all {
    border-collapse: collapse;
    width: 100%;
  }
  
  .w3-table-all th, .w3-table-all td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .w3-table-all th {
    background-color: #f2f2f2;
  }
  
  /* Style pour l'effet hover */
  .w3-table-all tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Style pour les liens */
  .w3-table-all a {
    text-decoration: none;
    color: #3498db;
  }
  
  /* Style pour les liens au survol */
  .w3-table-all a:hover {
    color: #2980b9;
  }
  